page-cyprus {
}

.centerAlign {
  text-align: center;
}

.item-md h6 {
  font-size: 1.2rem;
}

.item-md h5 {
  font-size: 1.3rem;
  margin: 0;
}

.vertAlign {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  text-align: center;
}

.label-md {
  margin: 2px 8px 2px 0;
}
