<!-- Generated template for the ListItemComponent component -->
<ion-card no-padding>
  <img src='{{imgSrc}}' />
  <ion-card-content no-padding>
    <p>{{typeText}}</p>
  </ion-card-content>
  <ion-row class="transparent">
    <ion-col col-8>
      <button ion-button icon-left clear small>
        <ion-icon name="clock"></ion-icon>
        <div> 25mins</div>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-left item-end clear small>
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-left clear small>
        <ion-icon name="ios-bookmark-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
