<ion-item>
  <ion-row>
    <ion-col col-2>
      <ion-icon name="menu" menuToggle class="headIcon"></ion-icon>
    </ion-col>
    <ion-col col-6>
      <img src="assets/img/logo.svg" (click)="openHome()"/>
    </ion-col>
    <ion-col col-2>
      <ion-icon name="ios-search-outline" (click)="openSearch()" class="headIcon floatRight"></ion-icon>
    </ion-col>
    <ion-col col-2>
      <ion-icon name="md-heart" (click)="openFavs()" class="headIcon floatRight"></ion-icon>
    </ion-col>
  </ion-row>
</ion-item>
