page-splash {
    
}

#firstImage {
    position: relative;
    display: block;
    margin: auto;
    top: -100%;
    transition-delay: 1s;
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: top;
}

#secondImage {
    position: relative;
    display: block;
    margin: auto;
    top: -100%;
    transition-timing-function: ease;
    transition-delay: 2s;
    transition-duration: 1s;
    transition-property: top;
}

#thirdImage {
    position: relative;
    display: block;
    margin: auto;
    top: -100%;
    width: 60%;
    transition-timing-function: ease;
    transition-delay: 3s;
    transition-duration: 1s;
    transition-property: top;
}