page-home {
}

ion-slide h4 {
  font-size: 1.4rem;
  text-align: left;
  color: #f4f4f4;
}

ion-slide img {
  height: 30vh !important;
  width: auto !important;
  top: 0 !important;
}

ion-slide p {
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: left;
  color: #f4f4f4;
}

.marginHeader {
  margin-top: 8px;
  margin-bottom: 3px;
}

.platform-ios #firstBadge {
  background-color: #4d5865;
  position: absolute;
  left: 20px;
  bottom: 18vh;
}

.platform-android #firstBadge {
  background-color: #4d5865;
  position: absolute;
  left: 20px;
  bottom: 19vh;
}

.platform-ios #secondBadge {
  background-color: #00aeef;
  position: absolute;
  left: 20px;
  bottom: 18vh;
}

.platform-android #secondBadge {
  background-color: #00aeef;
  position: absolute;
  left: 20px;
  bottom: 19vh;
}

.platform-ios #thirdBadge {
  background-color: #ef4144;
  position: absolute;
  left: 20px;
  bottom: 18vh;
}

.platform-android #thirdBadge {
  background-color: #ef4144;
  position: absolute;
  left: 20px;
  bottom: 19vh;
}

.lightGrey {
  background-color: #f4f4f4;
}

ion-item hr {
  border-bottom: 1px solid #9e9e9e;
  position: absolute;
  left: 4.5em;
  right: 0px;
}

#limitTwoLines {
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.3rem;
  max-height: 2.6rem;
}

.darkerGrey {
  background-color: #bbbfc4;
}

.darkGrey {
  background-color: #9b9b9b;
  color: #fff;
}

.transparent {
  background-color: transparent;
  font-size: 0.5em;
  bottom: 0;
  padding: 0px;
}

.posRel {
}

.item > ion-icon {
  font-size: 1.5rem;
}

.item-inner > ion-icon {
  font-size: 2rem;
}

.noPad {
  box-shadow: none;
  color: #9b9b9b;
  text-transform: none;
}

.backColor {
  background-color: #222222;
}

.verticalLine {
  border-right: 1px solid #a09185;
}

#editorChoice {
  color: #a5a5a5;
  font-size: 1rem;
}

#editorP {
  color: #000;
  font-size: 1.2rem;
}
