@media (min-width: 300px) {
  .menu-inner {
    width: 100%;
  }
}

.noUpper {
  text-transform: none !important;
}

.greyClr {
  background-color: #9b9b9b;
  color: #fff;
}

.darker {
  background-color: #7f7f7f;
  color: #fff;
}

.evenDarker {
  background-color: #4a4a4a;
  color: #fff;
}
