<ion-menu [content]="content">
  <ion-header padding-top class="greyClr">
    <ion-item class="greyClr">
      <ion-row>
        <ion-col col-2>
          <ion-icon class="headIcon" color="pnored" menuClose name="md-close"></ion-icon>
        </ion-col>
        <ion-col col-6>
          <img src="assets/img/logo-fullwhite.png" />
        </ion-col>
        <ion-col col-4>
          <button ion-button icon-end clear class="noUpper noMargin" color="pnored"><b>Ρυθμίσεις </b><ion-icon class="headIcon" name="md-more"></ion-icon></button>
        </ion-col>
      </ion-row>
        <ion-item class="greyClr" no-padding>
          <ion-icon item-end menuClose color="light" class="noMargin homeIc" name="ios-home-outline" (click)="openHome()" ></ion-icon>
        </ion-item>
    </ion-item>
</ion-header>

  <ion-content class="lighter">
    <ion-list>
      <button class="lighter" no-padding ion-item (click)="openCyprus()">
        <ion-grid>
          <ion-row>
            <ion-col col-1 class="CyprusCol">
            </ion-col>
            <ion-col col-11 padding-left>
              <div>Κύπρος</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-icon item-end name="ios-arrow-down"></ion-icon>
      </button>
      <button class="darker" no-lines menuClose *ngIf="showMeCyp" ion-item>
        Νέα Αγοράς
      </button>

      <button class="lighter" no-padding ion-item (click)="openPolitiki()">
        <ion-grid>
          <ion-row>
            <ion-col col-1 class="PolitikiCol">
            </ion-col>
            <ion-col col-9 padding-left>
              <div>Πολιτική</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-icon item-end name="ios-arrow-down"></ion-icon>
      </button>
        <button class="darker" no-lines menuClose *ngIf="showMe" ion-item (click)="openPolitiki()">
          Κυπριακό
        </button>
        <button class="darker" *ngIf="showMe" ion-item (click)="showItems()">
          Ενέργεια
        </button>
      <button class="lighter" no-padding menuClose ion-item (click)="openEllada()">
        <ion-grid>
          <ion-row>
            <ion-col col-1 class="GreeceCol">
            </ion-col>
            <ion-col col-9 padding-left>
              <div>Ελλάδα</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <button class="lighter" no-padding menuClose ion-item (click)="openDiethni()">
        <ion-grid>
          <ion-row>
            <ion-col col-1 class="DiethniCol">
            </ion-col>
            <ion-col col-9 padding-left>
              <div>Διεθνή</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <button class="lighter" no-padding ion-item (click)="openSports()">
        <ion-grid>
          <ion-row>
            <ion-col col-1 class="SportsCol">
            </ion-col>
            <ion-col col-11 padding-left>
              <div>Αθλητισμός</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-icon item-end name="ios-arrow-down"></ion-icon>
      </button>
        <button class="darker" no-lines menuClose *ngIf="showMe2" ion-item (click)="openKypriakoProtathlima()">
          Κυπριακό Πρωτάθλημα
        </button>
        <button class="darker" no-lines menuClose *ngIf="showMe2" ion-item (click)="openEllinikoProtathlima()">
          Ελληνικό Πρωτάθλημα
        </button>
        <button class="darker" no-lines menuClose *ngIf="showMe2" ion-item (click)="openDiethniProtathlimata()">
          Διεθνή Πρωταθλήματα
        </button>
        <button class="darker" menuClose *ngIf="showMe2" ion-item (click)="openAthlitismos()">
          Αθλητισμός
        </button>
        <button class="lighter" no-padding menuClose ion-item (click)="openDiethni()">
          <ion-grid>
            <ion-row>
              <ion-col col-1 class="EconomyCol">
              </ion-col>
              <ion-col col-9 padding-left>
                <div>Οικονομία</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </button>
        <button class="lighter" no-padding ion-item (click)="openHealth()">
          <ion-grid>
            <ion-row>
              <ion-col col-1 class="HealthCol">
              </ion-col>
              <ion-col col-11 padding-left>
                <div>Υγεία</div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-icon item-end name="ios-arrow-down"></ion-icon>
        </button>
        <button class="darker" *ngIf="showYgeia" no-lines menuClose ion-item (click)="openDiethniProtathlimata()">
          Fitness
        </button>
        <button class="darker" no-lines menuClose *ngIf="showYgeia" ion-item (click)="openDiethniProtathlimata()">
          Ψυχολογία
        </button>
        <button class="lighter" no-padding ion-item (click)="openHealth()">
          <ion-grid>
            <ion-row>
              <ion-col col-1 class="EntertainmentCol">
              </ion-col>
              <ion-col col-11 padding-left>
                <div>Ψυχαγωγία</div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-icon item-end name="ios-arrow-down"></ion-icon>
        </button>
        <button class="darker" *ngIf="showPsich" no-lines menuClose ion-item (click)="openDiethniProtathlimata()">
          Προτάσεις
        </button>
        <button class="darker" *ngIf="showPsich" no-lines menuClose ion-item (click)="openDiethniProtathlimata()">
          Showbiz
        </button>
        <button class="darker" *ngIf="showPsich" no-lines menuClose ion-item (click)="openDiethniProtathlimata()">
          Συνεντέυξεις
        </button>
        <button class="darker" *ngIf="showPsich" no-lines menuClose ion-item (click)="openDiethniProtathlimata()">
          Κουζίνα
        </button>
      <button class="lighter" menuClose ion-item (click)="openOikonomia()">
        Blog
      </button>
      <button class="lighter" menuClose ion-item (click)="openOikonomia()">
        Λούης Night Show
      </button>
      <ion-grid>
        <ion-row text-wrap align-items-center class="greyClr">
          <ion-col col-6>
            <p class="socialHead">
              ΑΚΟΛΟΥΘΗΣΕ ΜΑΣ
            </p>
            <p class="socialText">
              στα Social Media για να είσαι πάντα ενημερωμένος
            </p>
          </ion-col>
          <ion-col col-2>
            <ion-badge class="socialIcons"><ion-icon color="dark" name="logo-facebook"></ion-icon></ion-badge>
          </ion-col>
          <ion-col col-2>
            <ion-badge class="socialIcons"><ion-icon color="dark" name="logo-twitter"></ion-icon></ion-badge>
          </ion-col>
          <ion-col col-2>
            <ion-badge class="socialIcons"><ion-icon color="dark" name="logo-youtube"></ion-icon></ion-badge>
          </ion-col>
        </ion-row>
        <ion-row text-wrap align-items-center class="darkMenu">
          <ion-col col-9>
            <p class="socialHead">
              ΔΗΜΟΣΚΟΠΗΣΗ
            </p>
            <p class="socialText2">
              Πείτε μας τη γνώμη σας
            </p>
          </ion-col>
          <ion-col col-3>
            <ion-badge class="socialIcons2"><ion-icon class="statsLight" name="ios-stats-outline"></ion-icon></ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
    <ion-grid class="backColor">
      <ion-row no-padding>
        <ion-col col-4 class="verticalLine">
          <button ion-button full color="dark" icon-right class="noPad" (click)="openUseful()">Χρήσιμα
            <ion-icon name="ios-pricetag-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4 class="verticalLine">
          <button ion-button full color="dark" icon-right class="noPad">TVnews
            <ion-icon name="md-desktop"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button full color="dark" icon-right class="noPad">Report
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
