<ion-menu [content]="content">
  <ion-header padding-top class="greyClr">
    <ion-item class="greyClr">
      <ion-icon item-left menuClose name="md-close"></ion-icon>
      <img src="assets/img/logo.svg" />
      <button item-end ion-button icon-right clear class="noUpper" color="dark"><b>Ρυθμίσεις</b><ion-icon name="md-more"></ion-icon></button>
    </ion-item>
</ion-header>

  <ion-content class="greyClr">
    <ion-list>
      <button class="greyClr" menuClose ion-item (click)="openCyprus()">
        Κύπρος
      </button>
      <button class="greyClr" ion-item (click)="showSubItems()">
        Πολιτική
        <ion-icon item-end name="ios-arrow-down"></ion-icon>
      </button>
      <button class="darker" no-lines menuClose *ngIf="showMe" ion-item (click)="openKypriako()">
        Κυπριακό
      </button>
      <button class="darker" *ngIf="showMe" ion-item (click)="showItems()">
        Ενέργεια
      </button>
      <button class="greyClr" menuClose ion-item (click)="openGreece()">
        Ελλάδα
      </button>
      <button class="greyClr" menuClose ion-item (click)="openGreece()">
        Διεθνή
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
